---
import Container from "../components/Container.astro"
---

<section class="bg-[#0b1f74] text-white text-center py-20">
    <Container class:list={["max-w-5xl"]}>
        <h2 class="text-3xl font-bold mb-4">
            EMPRESA PERUANA CONSTITUIDA POR ESPECIALISTAS EN SEGURIDAD, SALUD
            OCUPACIONAL, MEDIO AMBIENTE Y CALIDAD.
        </h2>
        <p class="text-xl">
            Principalmente estamos dirigiendo nuestros servicios a las
            <span class="font-semibold"> PYMES, a las MYPES y medianas empresas </span>que desconocen
            la existencia de implementar de manera obligatoria por mandato de la
            Ley.
        </p>
    </Container>
</section>
