<section class="bg-[#0b1f74] py-20">
    <div class="container sm:flex text-center sm:text-start">
        <div
            class="flex flex-col flex-3 contact-banner-two-content text-white gap-4"
        >
            <h2 class="text-3xl font-extrabold text-balance">
                ¿Buscas una empresa especialista en Monitoreo Ocupacional, Medio
                Ambiente y Seguridad Industrial?
            </h2>
            <p class="text-balance text-lg">
                Convocatorias, Informaciones, Capacitaciones, Novedades las 24/7
                . Nuestros profesionales altamente calificados tienen una amplia
                experiencia en éstos servicios.
            </p>
        </div>

        <div class="flex flex-1 justify-center items-center sm:pt-0 pt-8">
            <a
                class="bg-amber-500 text-white px-6 py-2 rounded-md font-semibold"
                href="#">CONTÁCTANOS</a
            >
        </div>
    </div>
</section>
