<section class="bg-slate-900 text-center text-zinc-300">
    Desarrollado por: <a
        target="_blank"
        class="underline hover:font-semibold font-medium hover:text-white"
        href="https://iverse.dev">iverse.dev</a
    >
</section>
