---
import ContactBanner from "../sections/ContactBanner.astro"
import Footer from "../sections/Footer.astro"
import FooterBanner from "../sections/FooterBanner.astro"
import Header from "../sections/Header.astro"
import "../styles/global.css"
import { ClientRouter } from "astro:transitions"
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>SEGURIDAD, SALUD OCUPACIONAL, MEDIO AMBIENTE Y CALIDAD</title>
        <ClientRouter />
    </head>
    <body>
        <ContactBanner />
        <Header />
        <slot />
        <Footer />
        <FooterBanner />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    * {
        box-sizing: border-box;
    }
</style>
